---
layout: default
title: Home
---
{% for item in site.data.home_page %}
    {% if item.collapse %}
        <div class="sectionNoPadding";>
            <button class="collapsible">
                    {{ item.name }}
            </button>
            <div class="content">
                {% capture temp %}{% include_relative {{ item.link }}%}{% endcapture %}
                {{ temp  | markdownify }}
                <br>
            </div>
        </div>
    {% else %}
        <div class="section">
            <h3>
                {{ item.name }}
            </h3>
            {% capture temp %}{% include_relative {{ item.link }}%}{% endcapture %}
            {{ temp  | markdownify }}
        </div>
    {% endif %}
    <br><br>
{% endfor %}

<script src="{{ base.url | prepend: site.url }}/assets/js/collapsible.js">
</script>
