.blogTable tr td:first-child {
    width: 30%;
    vertical-align: top;
  }
.blogTable tr td:nth-child(2) {
    width: 70%;
    padding-left: 5%;
    vertical-align: top;
  }

.blogImg {
    max-width: 100%;
    height: auto;
}

.imageCaption{
    font-size: 70%;
}

.blogPostDate{
    font-size: 70%;
}
