:root {
    --site_background: #FF0000;
    --section_background: #FFFF00;
    --section_shadow: #FFFFFF;
    --font_color: #000000;
    --font_color_hover: #9090FF;
    --font_color_navigation_on_page: #0000FF;
}