:root {
    --site_background: #e7e9f0;
    --section_background: #fefefe;
    --section_shadow: #fefeff;
    --font_color: #051747;
    --font_color_hover: #404040;
    --font_color_navigation_on_page: #535F80;
}