:root {
    --site_background: #F0F0F0;
    --section_background: #FAFAFA;
    --font_color: #000000;
    --font_color_hover: #404040;
    --font_color_navigation_on_page: #000000;
    --font_color_navigation: #707070;
    --box_shadow: #E0E0E0;
  }
  