* {
  box-sizing: border-box
} 

:root {
    --basicPadding: 20px;
  }

html, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
}

body {
    background-color: var(--site_background);
    color: var(--font_color);
    line-height: 1.5;
}

body.nav{
  background-color: black;
}

.name{ 
    background-color: var(--section_background);
}

.standardPadding{
    padding-left: 20%;
    padding-right: 30%;
}


@media screen and (max-width: 1000px) {
  .standardPadding{
    padding-left: 0%;
    padding-right: 0%;
  }
}

a {
    color: var(--font_color);
}

a:hover{
    color: var(--font_color_hover);
}

.section{
    border-radius: 25px;
    background: var(--section_background);
    border-left: var(--basicPadding);
    border-right: var(--basicPadding);
    padding-left: var(--basicPadding);
    padding-right: var(--basicPadding);
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 2px 3px 3px var(--section_shadow);
    color: var(--font_color);
}

.sectionNoPadding{
  border-radius: 25px;
  background: var(--section_background);
  border-left: var(--basicPadding);
  border-right: var(--basicPadding);
  box-shadow: 2px 3px 3px var(--section_shadow);
  color: var(--font_color);
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

button {
  font-size: 1.17em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background: var(--section_background);
  color: var(--font_color);
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding-left: var(--basicPadding);
  padding-right: var(--basicPadding);
  color: var(--font_color);
}

.collapsible:after {
  content: '\2228'; /* Unicode character for "plus" sign (+) */
  float: right;
}

.active:after {
  content: "\2227"; /* Unicode character for "minus" sign (-) */
}
  
.content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: var(--section_background);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
  padding-left: var(--basicPadding);
  padding-right: var(--basicPadding);
  color: var(--font_color);
}