.navigation {
    background-color: var(--section_background);
    padding-top: 10px;
    padding-bottom: 40px;
}

.navigationColor {
    color: var(--font_color);
}

.navigationList {
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    padding-right: 20%;
    padding-bottom: 30px;
    overflow: hidden;
}

.navigationList a{
    padding-left: var(--basicPadding); 
    padding-right: var(--basicPadding);
}

.navigationOnPageColor{
    color: var(--font_color_navigation_on_page);
}

.navigation ul{
    list-style: none;
    float: left;
}
.navigation li{
    display: inline;
    float: left;
}

