---
layout: default
---
<div class="section">
<table class="blogTable">
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/images/{{page.image}}" 
                 alt="Image of various media" 
                 style="width:100%;">
            <figcaption class="imageCaption">credit: {{ page.credit }}</figcaption>
        </td>
        <td>
            <div class="blogPostDate">
                {{ page.date | date_to_string }}
            </div>
            <br>
            <h1>{{ page.title }}</h1>
        </td>
    </tr>
</table>

{{ content }}
</div>